.App {
  padding: 0 5rem;
}

.filler {
  height: 300vw;
}

.fixed {
  text-align: center;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  font-size: 45px;
}

.fixed > * {
  margin: 0;
}
